# -----------------------------------
# dropbox / System
# -----------------------------------
.dropbox
Icon?
.DS_Store


# -----------------------------------
# npm
# -----------------------------------
npm-debug.log
node_modules
*.swp
